@charset "utf-8";
/* CSS Document */


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

/*footer link*/
a {
	color: orange;
	text-decoration: none;
    padding: 16px 0;
}

 a:focus {
	color: orange;
    outline: 2px solid orange;
}

a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #eee;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
    padding: 25px 0;
    margin-bottom: 0;
   display: flex; 
    justify-content: center;
}
nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 15px 0;

}

#breadcrumb {
    padding: 10px 40px 16px;
    font-size: 1.3em;
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 50%; /* 50% of the header*/
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #333;
    text-transform: uppercase;
    
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options { 
  background-color: #0275D8;
  padding: 20px;
}
.filter-options h2 {
   color: white;
}
.filter-options label {
    font-size: 1.125em;
    color: #fff;
    padding: 0.8em 0;
}

.filter-options label:first-of-type {
    margin-right: 30px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
  width: 200px;
    font-size: 0.9em;

}

.filter-options select:focus {
    outline: 4px solid orange;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
    /*make sure the list become flexible*/
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
    
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  width: 48%;
  margin-bottom: 20px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
    margin: 2px 0 10px 1px;
    
}
#restaurants-list p {
  margin: 0;
  font-size: 1em;
  padding: 8px;
}
#restaurants-list li a {
  color: #e36700;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
    font-size: 0.9em;
}

#restaurants-list li a:focus {
    background: #e36700;
    color: white;
    text-decoration: underline;
    outline-color: #e36700;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #e36700;
  font-family: Arial,sans-serif;
  font-weight: 700;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 1.6em;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 190px 40px 30px; /*compensate with padding top the position fixed of the header*/
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
  width: 50%;
}
#reviews-container h2 {
  color: #e36700;
  font-weight: 700;
  font-size: 1.6em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 20px;
  width: 100%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}


/*
-----------
MEDIA QUERY
-----------*/   
@media screen and (max-width: 810px) {
    nav h1 a {
        font-size: 0.7em;
    }
    .filter-options label:first-of-type {
        margin-right: 0;
    }
    .filter-options label {
        display: flex;
        justify-content: space-between;
    }
    
    #restaurants-list li a {
        font-size: 0.75em;
    }
    
    #footer {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 640px) {
    #restaurants-list li {
        width: 100%;
    }
    
    /*avoiding focus ring mess up the style*/
    #footer {
        display: flex;
        flex-direction: column;
    }
    
     #restaurants-list li a {
        font-size: 0.65em;
    }
    
}


/*make the labels and select menus on top of each other*/
@media screen and (max-width: 450px) {
    .filter-options label {
        flex-direction: column;
    }
    
}





